html, body {
	height: 100%;
}
.navbar {
  padding: 0 !important;
  /*min-height: 40px;*/
  @media (hover: hover) and (pointer: fine) {
    height: 40px;
  }
}
.youtube {
  max-width: 100%;
}
.full-height {
  margin-top: 42px;
	height: auto;
	align-content: center;
  padding-left: 3%;
  padding-right: 3%;
}
.p-center {
	text-align: center;
} 
.f20 {
	font-size: 20px;
}
.f16 {
	font-size: 16px;
}
p{
	color: #e6e6e6
}
.fb-comments{
	background-color: #cccccc;
}
.fb-page{
max-width: 100%;
}
.alink{
	color: rgb(1, 17, 87);
  background-color: white;
}